<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTV2,1</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>2G</string>
		<key>Variant</key>
		<string>Original</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>AppleTV3,1</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>3G</string>
		<key>Variant</key>
		<string>Original</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>AppleTV3,2</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>3G</string>
		<key>Variant</key>
		<string>Rev A</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>AppleTV5,3</key>
	<dict>
		<key>Device</key>
		<string>AppleTV</string>
		<key>Generation</key>
		<string>4G</string>
		<key>Variant</key>
		<string>A1625</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook1,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook2,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>Late 2006</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook3,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Late 2007</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook4,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Early 2008</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook5,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Aluminium, Late 2008</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook5,2</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Early 2009</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook6,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Late 2009</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook7,1</key>
	<dict>
		<key>Generation</key>
		<string>MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Mid 2010</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBook8,1</key>
	<dict>
		<key>Generation</key>
		<string>New MacBook</string>
		<key>Height</key>
		<real>99.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro13</string>
		<key>Variant</key>
		<string>13-inch, Mid 2010</string>
		<key>Width</key>
		<integer>157</integer>
		<key>X</key>
		<integer>52</integer>
		<key>Y</key>
		<integer>75</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir1,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Early 2008</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir2,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir3,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Late 2010</string>
		<key>Height</key>
		<real>86.5</real>
		<key>Image</key>
		<string>Mac-MacBookAir11</string>
		<key>Variant</key>
		<string>11-inch</string>
		<key>Width</key>
		<integer>153</integer>
		<key>X</key>
		<integer>55</integer>
		<key>Y</key>
		<integer>71</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir3,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Late 2010</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir4,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Height</key>
		<real>86.5</real>
		<key>Image</key>
		<string>Mac-MacBookAir11</string>
		<key>Variant</key>
		<string>11-inch</string>
		<key>Width</key>
		<integer>153</integer>
		<key>X</key>
		<integer>55</integer>
		<key>Y</key>
		<integer>71</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir4,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir5,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Height</key>
		<real>86.5</real>
		<key>Image</key>
		<string>Mac-MacBookAir11</string>
		<key>Variant</key>
		<string>11-inch</string>
		<key>Width</key>
		<integer>153</integer>
		<key>X</key>
		<integer>55</integer>
		<key>Y</key>
		<integer>71</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir5,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir6,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2013</string>
		<key>Height</key>
		<real>86.5</real>
		<key>Image</key>
		<string>Mac-MacBookAir11</string>
		<key>Variant</key>
		<string>11-inch</string>
		<key>Width</key>
		<integer>153</integer>
		<key>X</key>
		<integer>55</integer>
		<key>Y</key>
		<integer>71</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir6,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Mid 2013</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir7,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Early 2015</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookAir7,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Air</string>
		<key>Generation</key>
		<string>Early 2015</string>
		<key>Height</key>
		<integer>110</integer>
		<key>Image</key>
		<string>Mac-MacBookAir13</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>175.5</real>
		<key>X</key>
		<integer>40</integer>
		<key>Y</key>
		<integer>52</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro1,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Original</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro1,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>17-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro10,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro10,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>13-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro11,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>13-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro11,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro11,3</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro11,4</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Mid 2015</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro11,5</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Mid 2015</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>15-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro12,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Early 2015</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>13-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro18,4</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro Retina</string>
		<key>Generation</key>
		<string>Early 2015</string>
		<key>Height</key>
		<integer>116</integer>
		<key>Image</key>
		<string>Mac-MacBookProRetina</string>
		<key>Variant</key>
		<string>13-inch, Retina</string>
		<key>Width</key>
		<integer>184</integer>
		<key>X</key>
		<integer>39</integer>
		<key>Y</key>
		<real>63.5</real>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro2,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>17-inch, Core 2 Duo</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro2,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>15-inch, Core 2 Duo</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro3,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2007</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro4,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2008</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro5,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Late 2008</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro5,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2009</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>17-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro5,3</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2009</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>15-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro5,5</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2009</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro6,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>17-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro6,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>15-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro7,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro8,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2011</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro8,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2011</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>15-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro8,3</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Early 2011</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>17-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro9,1</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>15-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacBookPro9,2</key>
	<dict>
		<key>Device</key>
		<string>MacBook Pro</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Height</key>
		<real>104.5</real>
		<key>Image</key>
		<string>Mac-MacBookPro15</string>
		<key>Variant</key>
		<string>13-inch</string>
		<key>Width</key>
		<real>166.5</real>
		<key>X</key>
		<integer>50</integer>
		<key>Y</key>
		<integer>74</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>MacPro1,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Original</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>MacPro2,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>8-core</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>MacPro3,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Early 2008</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>MacPro4,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Early 2009</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>MacPro5,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Mid 2010</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>MacPro6,1</key>
	<dict>
		<key>Device</key>
		<string>Mac Pro</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Late 2013</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini1,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Early 2006</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini2,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Late 2007</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini3,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Early 2009</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini4,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini5,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Intel graphics</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini5,2</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Radeon graphics</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini5,3</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>Variant</key>
		<string>Server</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini6,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini6,2</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Macmini7,1</key>
	<dict>
		<key>Device</key>
		<string>Mac mini</string>
		<key>Generation</key>
		<string>Late 2014</string>
		<key>Image</key>
		<string>Mac-CinemaDisplay</string>
		<key>isSlow</key>
		<false/>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>Width</key>
		<integer>220</integer>
		<key>Height</key>
		<integer>138</integer>
	</dict>
	<key>Xserve1,1</key>
	<dict>
		<key>Device</key>
		<string>Xserve</string>
		<key>Generation</key>
		<string>Late 2006</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>Xserve2,1</key>
	<dict>
		<key>Device</key>
		<string>Xserve</string>
		<key>Generation</key>
		<string>Early 2008</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>Xserve3,1</key>
	<dict>
		<key>Device</key>
		<string>Xserve</string>
		<key>Generation</key>
		<string>Early 2009</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>i386</key>
	<dict>
		<key>Device</key>
		<string>Simulator</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac10,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2009</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac11,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2009</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>27-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac11,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac11,3</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2010</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>27-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac12,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac12,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2011</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>27-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac13,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac13,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2012</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>27-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac14,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac14,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>27-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac14,3</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2013</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac14,4</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2014</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac15,1</key>
	<dict>
		<key>Device</key>
		<string>iMac5K</string>
		<key>Generation</key>
		<string>Mid 2015</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac16,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2015</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac16,2</key>
	<dict>
		<key>Device</key>
		<string>iMac 4K</string>
		<key>Generation</key>
		<string>Late 2015</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac17,1</key>
	<dict>
		<key>Device</key>
		<string>iMac 5K</string>
		<key>Generation</key>
		<string>Late 2015</string>
		<key>Height</key>
		<real>125.5</real>
		<key>Image</key>
		<string>Mac-iMac2013</string>
		<key>Variant</key>
		<string>21.5-inch</string>
		<key>Width</key>
		<integer>221</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>23</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac4,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Early 2006</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac4,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2006</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>17-inch</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac5,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2006</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac5,2</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Late 2006</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Variant</key>
		<string>17-inch, Core Duo</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac7,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Mid 2007</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac8,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Early 2008</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iMac9,1</key>
	<dict>
		<key>Device</key>
		<string>iMac</string>
		<key>Generation</key>
		<string>Early 2009</string>
		<key>Height</key>
		<integer>119</integer>
		<key>Image</key>
		<string>Mac-iMac2009</string>
		<key>Width</key>
		<real>189.5</real>
		<key>X</key>
		<real>33.5</real>
		<key>Y</key>
		<integer>19</integer>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad1,1</key>
	<dict>
		<key>Device</key>
		<string>iPad 1G</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad2,1</key>
	<dict>
		<key>Device</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad2,2</key>
	<dict>
		<key>Device</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad2,3</key>
	<dict>
		<key>Device</key>
		<string>iPad 2</string>
		<key>Variant</key>
		<string>CDMA</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad2,4</key>
	<dict>
		<key>Device</key>
		<string>iPad 2</string>
		<key>Generation</key>
		<string>Mid 2012</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad2,5</key>
	<dict>
		<key>Device</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad2,6</key>
	<dict>
		<key>Device</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad2,7</key>
	<dict>
		<key>Device</key>
		<string>iPad mini</string>
		<key>Variant</key>
		<string>Cellular</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPad3,1</key>
	<dict>
		<key>Device</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad3,2</key>
	<dict>
		<key>Device</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>CDMA</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad3,3</key>
	<dict>
		<key>Device</key>
		<string>iPad 3</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad3,4</key>
	<dict>
		<key>Device</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad3,5</key>
	<dict>
		<key>Device</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad3,6</key>
	<dict>
		<key>Device</key>
		<string>iPad 4</string>
		<key>Variant</key>
		<string>Cellular</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,1</key>
	<dict>
		<key>Device</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,2</key>
	<dict>
		<key>Device</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>Cellular</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,3</key>
	<dict>
		<key>Device</key>
		<string>iPad Air</string>
		<key>Variant</key>
		<string>Cellular</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,4</key>
	<dict>
		<key>Device</key>
		<string>iPad mini 2</string>
		<key>Variant</key>
		<string>Retina, WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,5</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 2</string>
		<key>Variant</key>
		<string>Retina, WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,6</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 2</string>
		<key>Variant</key>
		<string>Retina, WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,7</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 3</string>
		<key>Variant</key>
		<string>Retina, Wifi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,8</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 3</string>
		<key>Variant</key>
		<string>Retina, Wifi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad4,9</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 3</string>
		<key>Variant</key>
		<string>Retina, Wifi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad5,1</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 4</string>
		<key>Variant</key>
		<string>Retina, Wifi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad5,2</key>
	<dict>
		<key>Generation</key>
		<string>iPad mini 4</string>
		<key>Variant</key>
		<string>Retina, Wifi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad5,3</key>
	<dict>
		<key>Device</key>
		<string>iPad Air 2</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad5,4</key>
	<dict>
		<key>Device</key>
		<string>iPad Air 2</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad6,3</key>
	<dict>
		<key>Device</key>
		<string>iPad Pro 9,7&quot;</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad6,4</key>
	<dict>
		<key>Device</key>
		<string>iPad Pro 9,7&quot;</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad6,7</key>
	<dict>
		<key>Device</key>
		<string>iPad Pro</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPad6,8</key>
	<dict>
		<key>Device</key>
		<string>iPad Pro</string>
		<key>Variant</key>
		<string>WiFi</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone1,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 2G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>Device</key>
		<string>iPhone 3G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 3GS</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone3,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone3,2</key>
	<dict>
		<key>Device</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>GSM Rev A</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone3,3</key>
	<dict>
		<key>Device</key>
		<string>iPhone 4</string>
		<key>Variant</key>
		<string>CDMA</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone4,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 4S</string>
		<key>Variant</key>
		<string>GSM+CDMA</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPhone5,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone5,2</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5</string>
		<key>Variant</key>
		<string>GSM+CDMA</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone5,3</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5C</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone5,4</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5C</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone6,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5S</string>
		<key>Variant</key>
		<string>GSM</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone6,2</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5S</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone7,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 6 Plus</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone7,2</key>
	<dict>
		<key>Device</key>
		<string>iPhone 6</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone8,1</key>
	<dict>
		<key>Device</key>
		<string>iPhone 6S</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone8,2</key>
	<dict>
		<key>Device</key>
		<string>iPhone 6S Plus</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPhone8,4</key>
	<dict>
		<key>Device</key>
		<string>iPhone 5 SE</string>
		<key>Variant</key>
		<string>Global</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>Device</key>
		<string>iPod touch</string>
		<key>Generation</key>
		<string>1G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>Device</key>
		<string>iPod touch 2</string>
		<key>Generation</key>
		<string>2G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>Device</key>
		<string>iPod touch 3</string>
		<key>Generation</key>
		<string>3G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPod4,1</key>
	<dict>
		<key>Device</key>
		<string>iPod touch 4</string>
		<key>Generation</key>
		<string>4G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPod5,1</key>
	<dict>
		<key>Device</key>
		<string>iPod touch 5</string>
		<key>Generation</key>
		<string>5G</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>iPod7,1</key>
	<dict>
		<key>Device</key>
		<string>iPod touch 6</string>
		<key>Generation</key>
		<string>6G</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>x86_64</key>
	<dict>
		<key>Device</key>
		<string>Simulator</string>
		<key>isSlow</key>
		<false/>
	</dict>
	<key>Watch1,1</key>
	<dict>
		<key>Device</key>
		<string>Apple Watch 38 mm</string>
		<key>Variant</key>
		<string>A1553</string>
		<key>isSlow</key>
		<true/>
	</dict>
	<key>Watch1,2</key>
	<dict>
		<key>Device</key>
		<string>Apple Watch 42 mm</string>
		<key>Variant</key>
		<string>A1554 / A1638</string>
		<key>isSlow</key>
		<true/>
	</dict>
</dict>
</plist>
